- name: update the apt cache
  apt:
    update_cache: yes
    force_apt_get: yes

# install required pckgs for docker installation
- name: Install required system packages
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - software-properties-common
      - virtualenv
      - python3-setuptools
    state: latest
    update_cache: true

- name: Add docker gpg apt key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu noble stable"
    state: present
    filename: docker

- name: update apt and install docker-ce
  apt:
    name: docker-ce
    state: latest
    update_cache: true

- name: Install docker module for python via apt
  ansible.builtin.apt:
    name: python3-docker
    state: present
    update_cache: true

- name: Start and enable docker
  service:
    name: docker
    state: started
    enabled: yes

- name: create sonarqube directories for persistence
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 1000
    group: 1000
    mode: "0755"

  loop:
    - /opt/sonarqube/data
    - /opt/sonarqube/extensions
    - /opt/sonarqube/logs

- name: pull and start sonarqube container
  community.docker.docker_container:
    name: sonarqube
    image: sonarqube:community
    state: started
    restart_policy: always
    published_ports:
      - "9000:9000"

    volumes:
      - /opt/sonarqube/data:/opt/sonarqube/data
      - /opt/sonarqube/extensions:/opt/sonarqube/extensions
      - /opt/sonarqube/logs:/opt/sonarqube/logs
